#searchBar {
	height: 100%;
	width: 20%;
	left: 0%;
	top: 0;
	background-position: absolute;
	padding-bottom: 0px;
	background-color: red;
}

.noDecoration {
	text-decoration: none !important
}

.addressSearch {

}

.yelpSearch {

}

.results {

}

.addressSearchWrapper {
	padding: 10px 15px;
}

.yelpSearchWrapper {
	padding: 10px 15px;
}

.resultsWrapper {
	padding: 10px 15px;
}

#searchBarFooter {
	bottom: 0px;
	width: 100%;
	background-color: #FFF0F0;
}

#accordion-bottom {
	bottom: 0px;
	position: relative;
	width: 100%;
	heightStyle: ;
}